.body_background 
{
    background-position: center;
    background-size:contain;
	background:url("istockphoto-136546200-612x612.jpg");
	background-repeat:no-repeat;
}
#myCanvas
{
    border-width:10px;
    border-style:ridge;
	background-color:forestgreen;
}


#hd3{
	display: inline-block;
	color: red;
	background-color: aliceblue;
	font-family: fantasy;
}
